@font-face {
  font-family: Segoe UI;
  src: url(Segoe\ UI.ttf);
}

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0 auto;
  font-family: Segoe UI;
}
main {
  margin: 0 auto;
  max-width: 1920px;
}
p {
  margin: 0;
}
/* Header */

.header {
  max-width: 1428px;
  margin: 0 auto;
}

/* Last chance */

.last_chanse {
  background-image: url(img/16.svg);
  padding: 60px 600px 50px;
}
.last_chanse_content {
  max-width: 745px;
  margin: 0 auto;
  text-align: center;
}
.last_chanse p {
  font-style: normal;
  color: #203376;
  text-transform: uppercase;
  margin: 0;
}
.first-title {
  font-size: 42px;
  line-height: 146.48%;
  font-weight: 900;
  margin-bottom: 35px;
}
.last-title {
  font-size: 24px;
  line-height: 165%;
  max-width: 665px;
  margin: 0 auto;
  font-weight: 600;
}
.title_color {
  color: #ff0000;
}
/* description */
.description_wrapper p {
  margin: 0;
}
.description_wrapper {
  width: 1110px;
  font-weight: 600;
  font-size: 22px;
  line-height: 146.48%;
  color: #203376;
  margin: 0 auto;
  padding: 35px 0 35px 0;
}

/* rectangle22 */

.rectangle22_wrapper {
  display: flex;
}
.description_img {
  max-width: 945px;
  height: 320px;
}
.text_block {
  width: 540px;
  height: 235px;
  padding: 45px 0 0 30px;
  font-size: 16px;
  line-height: 146.48%;
}
.text_block > p:last-child {
  color: #ff0000;
  font-size: 16px;
}

/* chanse */

.chance_wrapper {
  max-width: 1110px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}

h3 {
  color: #ff0000;
  font-size: 22px;
  line-height: 146.48%;
  text-transform: uppercase;
}
.chance_wrapper p,
span {
  color: #203376;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 45px;
}
.button_block {
  padding-top: 35px;
  display: flex;
  justify-content: center;
}
.chanse_button {
  background-color: #ff0000;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
}
.button_block {
  padding-top: 0;
}
.chanse_button:hover {
  color: gold;
}

/* confirence (shared)*/

.conference {
  margin-top: 50px;
}
.conference_wrapper {
  display: flex;
}
.conference_description_wrapper:first-child {
  width: 525px;
  height: 300px;
}
.conference_description_wrapper > p:last-child {
  color: #ff0000;
  margin-top: 35px;
}
.conference_description_wrapper {
  margin: 40px 30px 40px 420px;
}
.conference_description {
  background: #F7F8FB;
}
.conference_ask {
  font-weight: bold;
  font-size: 16px;
  color: #212529;
}

/* chance block */

.chance_wrapper {
  padding-bottom: 45px;
}
.chance_video {
  margin: 25px 0 35px 0;
}
.chance_wrapper p:first-child {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 146.48%;
  text-align: center;
  color: #212529;
}
.chance_wrapper p:last-child {
  font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 146.48%;
text-align: center;
color: #203376;
}

/* conference future_block */

/* event join (shared) */

.event_join {
  font-weight: 600;
  font-size: 22px;
  line-height: 146.48%;
}